{sys, [
	   {excl_archive_filters, [".*"]},
       {lib_dirs, ["..", "../../", "../deps/"]},
       {rel, "ememcached", "1",
        [
         kernel,
         stdlib,
         sasl,
		 ememcached
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "ememcached"},
       {profile, embedded},
       {excl_sys_filters, ["^bin/.*",
                           "^erts.*/bin/(dialyzer|typer)"]},
       {app, ememcached, [{incl_cond, include}]},
       {app, sasl, [{incl_cond, include}]}
      ]}.

{overlay, [
           {mkdir, "data"},
           {mkdir, "log/sasl"},
           {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
           {copy, "files/nodetool", "\{\{erts_vsn\}\}/bin/nodetool"},
           {copy, "files/ememcached", "bin/ememcached"},
           {copy, "files/app.config", "etc/app.config"},
           {copy, "files/vm.args", "etc/vm.args"}
          ]}.
